astropy>=5.3
camb
cobaya
cython==3
fgspectra
getdist
h5py
healpy>=1.18
ipykernel
ipython
jupyter
lenspyx
matplotlib
meson
meson-python
mpi4py
ninja
numpy<2
numba
pandas
pillow
pixell
pytest
pyyaml
sacc
scipy>=1.15
scikit-learn
setuptools
